*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #142435; color: #fafafa;
    font-family: sans-serif;
}

.hover-text:hover{ 
    color: #66fcf1;
    cursor: pointer;
    text-decoration: none;
}

div.wrap{
    width:250px;
    margin:0 auto;
}

.btn{
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #fafafa;
    cursor: pointer;
}

.btn:hover{
    background: #66fcf1;
}

.btn a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn img{
    height: 25px;
}
